<div class="pizza-index">
  <h2 class="title-text">List of Pizzas</h2>
  <section class="thin-crust-table">
    <h4 class="table-title">Thin Crust</h4>     
    <%= render partial: "table", locals: { pizzas: @thin_crust } %>
  </section>
  <hr>
  <section class="thick-crust-table">
    <h4 class="table-title">Thick Crust</h4>
    <%= render partial: "table", locals: { pizzas: @thick_crust } %>
  </section>
  <hr>
  <section class="deep-dish-table">
    <h4 class="table-title">Deep Dish</h4>
    <%= render partial: "table", locals: { pizzas: @deep_dish } %>
  </section>
</div>