<div class="user">
  <h2 class="title-text">User Summary: <%= @user.username %></h2>

  <% if @user.votes.length > 0 %>
    <%= render partial: "table", locals: { pizzas: @pizzas, user: @user } %>
  <% else %>
    <p>This user hasn't voted for anything yet.</p>
  <% end %>
</div>