<div class="user">
  <%= form_with model: @user, url: login_path do |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field(:username, class: "form-control") %>
    </div>
    <%= f.submit "Login", class: "button btn btn-primary form-group"%>
  <% end %>
</div>