/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";


@import "**/*";



//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//All Pages
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

body {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  background-color:white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(41, 41, 41);
  font-family: "Gudea", sans-serif;
}


header.application-header {
  background-color: #B2DFDB;
  width: 100vw;
  padding: 4rem 0.5rem 1rem 0.5rem;
  max-width: 100%;
  text-align: center;
  margin: 0 auto 40px auto;
}

div.application-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.application-title h3 {
  color: white;
  text-align: center;
}

div.application-title h1 a {
  font-weight: bolder;
  font-size: 2.5rem;
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid;
  text-decoration: none;
  line-height: 1.2;
}

header a {
  color: rgb(26, 140, 130);
}

.title-text {
  color: rgb(38, 166, 154);
  font-weight: bolder;
}

header a:hover, a.title-text:hover {
  color: rgb(20, 111, 103);
  text-decoration: none;
}

nav.application-nav {
  color: rgb(0, 121, 107);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 3rem;
  flex-wrap: nowrap;
}

ul.nav li {
  padding: 0 1em;
}

button a {
  color:white;
}
button a:hover {
  color: white;
  text-decoration: none;
}

button.btn, button.button {
  color: white;
  background-color: rgb(38, 166, 154);
  border: 0 white solid;
}

button.btn:hover, button.button:hover {
  color: white;
  background-color: rgb(20, 111, 103);
}

footer.footer {
  text-align: center;
  font-size: small;
  color: rgb(120, 120, 120);
  margin-bottom: 5px;
  }


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Homepages#index
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

main {
  margin: auto;
}

li {
  list-style-type: none;
}

div.homepage-index {
  margin: 1vw;
}

section.spotlight {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 2rem;
  background-color:rgba(255, 255, 255, 0.85);
}

a.spotlight {
  padding: 0 10px;

}
article.spotlight {
  margin: 0 2rem;
  padding-bottom: 1rem;
}
div.spotlight {
  margin: 0 1rem;
}

h2.title-prefix {
  color: rgb(66, 66, 66);
  font-weight:bolder;
  line-height:38.4px;
  text-align:left;
  text-size-adjust:100%;
}
h2.title-text a {
  padding: 10px;
  text-decoration-line: underline;
}

section.top-pizzas {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
  font-weight: bolder;
}

article.top-crusts {
  background-color:rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 1rem;
}

p {
  font-weight: lighter;
}

p.pizza-toppings {
  color: rgb(120, 120, 120);
  font-size: 1.2rem;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Pizzas#index && #show
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

div.pizza-show, div.edit-pizza, div.new-pizza, div.pizza-index {
  margin: 0 3rem;
}

h4.table-title {
  font-weight: bolder;
}

a.table-text {
  font-weight: lighter;
}

button.btn-danger {
  background-color: rgb(220, 53, 69);
}

button.btn-danger:hover {
  background-color: rgb(196, 39, 55);
}

h2.edit-pizza {
  padding-bottom: 1rem;
}